body{
  padding: 25px;
}
.title {
	color: #5C6AC4;
}

body{
  margin:0;
  background:#f4f4f4;
  font-family:system-ui;
}

/* HERO */
.hero{
  position:relative;
  min-height:300vh;
}

/* TITULO STICKY */
.hero-content{
  position:sticky;
  top:0;
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  z-index:10;
  pointer-events:none;
}

.title{
  font-size:6rem;
  text-align:center;
  line-height:1;
  color:#111;
  font-weight:300;
}

/* EFECTO PROPAL */
.propal{
  display:block;
  font-size:9rem;
  font-weight:900;
  color:#00bcd4;

  mix-blend-mode:difference;

  text-transform:uppercase;
  letter-spacing:10px;

  position:relative;
}

/* GALERIA */
.scroll-gallery{
  position:relative;
  z-index:1;
}

.scroll-gallery img{
  width:70%;
  height:80vh;
  object-fit:cover;

  display:block;
  margin:120px auto;

  border-radius:30px;

  box-shadow:
    0 20px 60px rgba(0,0,0,.15);
}

